{% extends 'base-uboot.jinja2' %}

{% set console_device = console_device|default('ttymxc0') %}
{% set baud_rate = baud_rate|default(115200) %}
{% set device_type = "imx6dl-wandboard" %}
{% set bootloader_prompt = bootloader_prompt|default('=>') %}
{% set bootz_kernel_addr = '0x11000000' %}
{% set bootz_ramdisk_addr = '0x13000000' %}
{% set bootz_dtb_addr = '0x12f00000' %}
{% set uboot_mkimage_arch = 'arm' %}

