{% extends 'omap3-igep.jinja2' %}

{% set connection_command = 'telnet localhost 2001' %}
{% set hard_reset_command = 'pduclient -H --daemon localhost --hostname pdu01 --command reboot --port 01' %}
{% set power_off_command = 'pduclient -H --daemon localhost --hostname pdu01 --command off --port 01' %}
{% set power_on_command = 'pduclient -H --daemon localhost --hostname pdu01 --command on --port 01' %}
